$white: #fff !default;
$gray-100: #f6f5f5 !default;
$gray-200: #e5e5e5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #4f4f4f !default;
$gray-800: #474747 !default;
$gray-900: #111111 !default;
$gray-primary: #2e5a1c !default;
$black: #000 !default;

$blue: #1c5bff !default;
$indigo: #6610f2 !default;
$purple: #b01aff !default;
$pink: #ff658a !default;
$red: #ed4c5c !default;
$orange: #ffce31 !default;
$yellow: #ffc107 !default;
$green: #00a790 !default;
$teal: #86bb67 !default;
$tealnes: #4e9525 !default;
$cyan: #5db3bf !default;
$blue-white: #16abf8 !default;
$cream: #edf0c7 !default;
